{
  "swagger": "2.0",
  "info": {
    "version": "2016-04-06T13:57:23Z",
    "title": "nsizedwalrus"
  },
  "host": "nsizedwalrus.ninja",
  "basePath": "/(none)",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Content-Type": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Content-Type": "'text/html'"
              },
              "responseTemplates": {
                "text/html": "<html>\n<body>\n  <div>\n    <h2>\n    $input.json('$.monster_1_size') \n    $util.parseJson( $input.json('$.monster_1_size_animal') )-sized \n    $util.parseJson( $input.json('$.monster_1_base') )\n    </h2>\n    <img src=\"https://d3gst354vaga1g.cloudfront.net/$util.parseJson( $input.json('$.monster_1_image') )\" />\n    <form action=\"/\" method=\"POST\" enctype=\"application/x-www-form-urlencoded\">\n        <input name=\"uuid\" type=\"hidden\" value=\"$util.parseJson($input.json('$.fight_uuid'))\"></input>\n        <input name=\"winner\" type=\"hidden\" value=\"$input.json('$.monster_1_id')\"></input>\n        <input type=\"submit\" value=\"Wins\"></input>\n    </form>\n  </div>\n  \n  <h1>VS.</h1>\n\n  <div>\n    <h2>\n        $input.json('$.monster_2_size')\n        $util.parseJson( $input.json('$.monster_2_size_animal') )-sized \n        $util.parseJson( $input.json('$.monster_2_base') )\n    </h2>\n    <img src=\"https://d3gst354vaga1g.cloudfront.net/$util.parseJson( $input.json('$.monster_2_image') )\" />\n    <form action=\"/\" method=\"POST\" enctype=\"application/x-www-form-urlencoded\">\n        <input name=\"uuid\" type=\"hidden\" value=\"$util.parseJson($input.json('$.fight_uuid'))\"></input>\n        <input name=\"winner\" type=\"hidden\" value=\"$input.json('$.monster_2_id')\"></input>\n        <input type=\"submit\" value=\"Wins\"></input>\n    </form>\n\n  </div>\n\n<p>\nMore about this <a href=\"https://github.com/markjenkins/nsizedwalrus/\">on GitHub</a>\n</p>\n<p>\nImages from <a href=\"https://en.wikipedia.org/wiki/List_of_animal_names\">Wikipedia</a>. <a href=\"https://raw.githubusercontent.com/markjenkins/nsizedwalrus/master/wikipedia_article_images/IMAGE_COPYING_LICENSE\">Licenses</a>\n</p>\n</body>\n</html>\n\n"
              }
            }
          },
          "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:790588625955:function:random_fight/invocations",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "303": {
            "description": "303 response",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "303",
              "responseParameters": {
                "method.response.header.Location": "'https://nsizedwalrus.ninja/'"
              }
            }
          },
          "requestTemplates": {
            "application/x-www-form-urlencoded": "#set($rawBody = $input.body)\n#set($tokenisedAmpersand = $rawBody.split(\"&\"))\n#set($ampOne = $tokenisedAmpersand[0])\n#set($ampTwo = $tokenisedAmpersand[1])\n#set($oneSplit = $ampOne.split(\"=\") )\n#set($twoSplit = $ampTwo.split(\"=\") )\n\n\n{  \"$oneSplit[0]\": \"$oneSplit[1]\",\n   \"$twoSplit[0]\": \"$twoSplit[1]\"\n}"
          },
          "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:790588625955:function:fight_result/invocations",
          "httpMethod": "POST",
          "type": "aws"
        }
      }
    }
  }
}